---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

// Cambiar el título y la descripción para reflejar tu perfil
<Layout
  title="Portfolio de Esther Ticlla - Diseñadora UI/UX y Desarrolladora Frontend"
  description="Explora el portafolio de Esther Ticlla, diseñadora de interfaces disruptivas y desarrolladora frontend con experiencia en React, Figma y más. Disponible para proyectos de diseño y desarrollo."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
        <!-- Aquí puedes agregar información de introducción personalizada -->
        <h1 class="text-4xl font-bold">¡Hola! Soy Esther Ticlla</h1>
        <p class="mt-4 text-xl">
          Diseñadora UI/UX apasionada y desarrolladora frontend. Me encanta crear experiencias digitales únicas y optimizadas.
        </p>
      </Hero>
    </SectionContainer>

    <div class="space-y-24">
    
    <!-- Sección de Experiencia -->
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia Profesional
      </TitleSection>
      <Experience />
    </SectionContainer>

    <!-- Sección de Proyectos -->
    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <!-- Sección Sobre Mí -->
    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
    
    </div>
  </main>
</Layout>
