---
 const personalImageAlt = "Esther Ticlla"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy <strong>Esther Ticlla</strong>, una diseñadora de UI/UX apasionada por
      crear experiencias digitales fluidas y atractivas. Trabajo con herramientas como
      <strong>Figma</strong> para transformar ideas en interfaces impactantes.
    </p>

    <p>
      A lo largo de mi carrera, he trabajado en <strong>proyectos de desarrollo frontend</strong> utilizando 
      <strong>React</strong>, enfocándome en la interacción y funcionalidad para usuarios finales. Me encanta
      colaborar con equipos de desarrollo para llevar a cabo proyectos innovadores y escalables.
    </p>

    <p>
      Además de mis habilidades técnicas, me encanta seguir aprendiendo y participando en la comunidad de desarrollo.
      Mi objetivo es seguir creciendo en el ámbito del <strong>Diseño UX y desarrollo frontend</strong>, 
      aportando soluciones creativas y eficientes.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
